.wrapper{
    background-color:black;
    width:200px;
    height:200px;
}

.backdrop{background-color:black;
    width:200px;
    height:200px;}


.styledModal{background-color:black;
    width:200px;
    height:200px;}

.header{background-color:black;
    width:200px;
    height:200px;}